body {
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    padding-top: 50px;
}

.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

button {
    font-size: 50px;
    padding: 10px 20px;
    margin-top: 20px;
}

h1 {
    font-size: 50px;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1; /* z-index 낮게 설정 */
  }
  
#food-startButton {
    z-index: 2; /* 버튼의 z-index 높게 설정 */
    position: relative; /* z-index를 적용하기 위해 필요 */
}

#travel-startButton {
    z-index: 2; /* 버튼의 z-index 높게 설정 */
    position: relative; /* z-index를 적용하기 위해 필요 */
}

.home-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 15px;
    background-color: #f8f8f8;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 25px;
    z-index: 2;
}

.home-button:hover {
    background-color: #e7e7e7;
}

.selection-button {
    display: block;
    width: 80%; /* 버튼의 너비 */
    margin: 10px auto; /* 상하 여백 10px, 좌우 마진 자동 */
    padding: 15px; /* 패딩 */
    background-color: rgb(240, 240, 240); /* 배경색 */
    color: rgb(0, 0, 0); /* 글자색 */
    text-decoration: none; /* 텍스트 밑줄 제거 */
    border-radius: 5px; /* 테두리 둥글게 */
    font-size: 20px; /* 글자 크기 */
    border: none; /* 테두리 없음 */
    transition: background-color 0.3s; /* 배경색 변화 애니메이션 */
}

.selection-button:hover {
    background-color: rgb(192, 233, 255); /* 호버 시 배경색 변경 */
}
