body {
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    padding-top: 50px;
}

.container {
    width: 500px;
    margin: 0 auto;
}

button {
    font-size: 50px;
    padding: 10px 20px;
    margin-top: 20px;
}

h1 {
    font-size: 50px;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1; /* z-index 낮게 설정 */
  }
  
  #startButton {
    z-index: 2; /* 버튼의 z-index 높게 설정 */
    position: relative; /* z-index를 적용하기 위해 필요 */
  }
  